<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588240235676-4qabtcolt4r323ihmsuf39pfrn6jl4n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588240235676-4qabtcolt4r323ihmsuf39pfrn6jl4n2</string>
	<key>API_KEY</key>
	<string>AIzaSyBcgIqxdl4sw2hDkZuyP4WmxaQV53gN_zk</string>
	<key>GCM_SENDER_ID</key>
	<string>588240235676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>newstore-60688</string>
	<key>STORAGE_BUCKET</key>
	<string>newstore-60688.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588240235676:ios:8cb46cc08c3ccea8c25159</string>
</dict>
</plist>